<div class="text-center mt-5">
    <h1>Welcome to Bloggu</h1>
    <p>Start writing blogs</p>
    <p class="fs-2">To post blogs</p>
    <div >
        <a class="btn btn-outline-light mb-3" href="/users/register">Register</a> 
        <p class="fs-4 d-inline">and</p>
        <a class="btn btn-outline-light mb-3" href="/users/login">Login</a> 
    </div>
    <p class="fs-2">To see the blogs</p>
    <a class="btn btn-outline-light" href="/blogs">HOME</a>
</div>